<div class="calendar-header">
    <button type="button" class="nav-btn" (click)="decrement()">
        <i class="chevron left"></i>
    </button>

    <div class="calendar-title">
        <span class="month">{{ months[arrayOfWeek[0].getMonth()] }}</span>
        <span class="year">{{ arrayOfWeek[0].getFullYear() }}</span>
    </div>

    <button type="button" class="nav-btn" (click)="increment()">
        <i class="chevron right"></i>
    </button>
</div>
<table>
    <thead>
        <tr>
            <th>Hora</th>
            @for(item of arrayOfWeek; track item)
            {
            <td>{{ days[item.getDay()] }} {{item.getDate()}}</td>
            }

        </tr>
    </thead>
    <tbody>
        @for(hour of hours; track hour)
        {
        <tr>
            <td class="hour">{{ hour }}</td>
            <td>{{ calendar[1][hour].title.substring(0,20)}}
                {{ calendar[1][hour].hourStart.substring(0,5) }} {{ calendar[1][hour].hourEnd.substring(0,5) }}
            </td>
            <td>{{ calendar[2][hour].title.substring(0,20)}}
                {{ calendar[2][hour].hourStart.substring(0,5) }} {{ calendar[2][hour].hourEnd.substring(0,5) }}
            </td>
            <td>{{ calendar[3][hour].title.substring(0,20)}}
                {{ calendar[3][hour].hourStart.substring(0,5) }} {{calendar[3][hour].hourEnd.substring(0,5) }}
            </td>
            <td>{{ calendar[4][hour].title.substring(0,20)}}
                {{ calendar[4][hour].hourStart.substring(0,5) }} {{calendar[4][hour].hourEnd.substring(0,5) }}
            </td>
            <td>{{ calendar[5][hour].title.substring(0,20)}}
                {{ calendar[5][hour].hourStart.substring(0,5) }} {{calendar[5][hour].hourEnd.substring(0,5) }}
            </td>
            <td>{{ calendar[6][hour].title.substring(0,20)}}
                {{ calendar[6][hour].hourStart.substring(0,5) }} {{calendar[6][hour].hourEnd.substring(0,5) }}
            </td>
            <td>{{ calendar[0][hour].title.substring(0,20)}}
                {{ calendar[0][hour].hourStart.substring(0,5) }} {{ calendar[0][hour].hourEnd.substring(0,5) }}
            </td>
        </tr>
        }
    </tbody>
</table>