<div class="calendar-header">
    <button type="button" class="nav-btn" (click)="decrement()">
        <i class="chevron left"></i>
    </button>

    <div class="calendar-title">
        <span class="month">{{ months[arrayOfWeek[0].getMonth()] }}</span>
        <span class="year">{{ arrayOfWeek[0].getFullYear() }}</span>
    </div>

    <button type="button" class="nav-btn" (click)="increment()">
        <i class="chevron right"></i>
    </button>
</div>
<table>
    <thead>
        <tr>
            <th>Hora</th>
            @for(item of arrayOfWeek; track item)
            {
            <td>{{ days[item.getDay()] }} {{item.getDate()}}</td>
            }

        </tr>
    </thead>
    <tbody>

        @for(hour of hours; track hour)
        {
        <tr>
            <td class="hour">{{ hour }}</td>
            @for(dia of [0,1,2,3,4,5,6]; track dia)
            {
            <td class="appointment-cell">
                @if(calendar[dia][hour].length == 1)
                {
                <span class="appointment-title">
                    {{ calendar[dia][hour][0].title.substring(0,30) }}
                </span>
                <span class="appointment-time">
                    {{ calendar[dia][hour][0].hourStart.substring(0,5) }}

                    {{ calendar[dia][hour][0].hourEnd.substring(0,5) }}
                </span>
                }
                @else if(calendar[dia][hour].length>1)
                {
                <span class="appointment-title" (click)="showBox($event,calendar[dia][hour])">
                    {{ calendar[dia][hour].length }} Reuniões
                </span>
                }

            </td>
            }
        </tr>
        }
    </tbody>
</table>
@if(boxVisible)
{
<app-calendar-cell [positionTop]="position?.y || null" [positionLeft]="position?.x || null"
    [appointments]="selectedAppointments">
</app-calendar-cell>
}