<div class="table-header">
    <a [routerLink]="['/main-page','personal-contact-new']" class="add-user-link">Novo Contacto</a>
    <input type="text" class="search-bar" (input)="onSearch($event)" placeholder=" Pesquisar...">
</div>
<table class="user-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Contacto Principal</th>
            <th>Notas</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personalContact of pagination.items">
            <td>{{ personalContact.name }}</td>
            <td>{{ personalContact.isPrimary }}</td>
            <td>{{ personalContact.notes}}</td>
            <td>
                <a [routerLink]="['/main-page','personal-contact-new', personalContact.id]">
                    <i class="fas fa-edit edit-icon"></i></a>
                <a (click)="deletePersonalContact(personalContact.id)">
                    <i class="fas fa-trash delete-icon"></i></a>
        </tr>
    </tbody>
</table>
@if(errorMessage != null)
{
<div class="error-message">
    {{ errorMessage }}
</div>
}
<div class="pagination">
    <button class="pagination-btn" [disabled]="pagination.pageNumber==1" (click)="decrement()">&laquo;
        Anterior</button>
    @for(page of pagesArray; track page)
    {
    <button class="pagination-btn" (click)="goToPage(page)">{{ page }}</button>
    }
    <button class="pagination-btn" [disabled]="pagination.pageNumber == pagination.totalPages"
        (click)="increment()">Próximo &raquo;</button>
</div>